target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
load.properties

### VS Code ###
.vscode/

### Logs ###
*.log
*.log.*

### OS ###
.DS_Store
Thumbs.db

### Docker ###
docker-compose.override.yml

### Application ###
ApiTester.class
